<h1>Listing comments</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Body</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.message_id %></td>
    <td><%=h comment.content %></td>
    <td><%= link_to 'Show', [@message, comment] %></td>
    <td><%= link_to 'Edit', [:edit, @message, comment] %></td>
    <td><%= link_to 'Destroy', [@message, comment], 
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', 
  new_message_comment_path(@message) %>

